<div class="main-content">
    <div class="sidebar">
      <div class="cont-logo">
        <img src="assets/img/psaLogo.png" alt="">
      </div>
    </div>
    <div class="cuestionario-container">
        <h1 style="margin-top: 50px;">Seleccione los síntomas que presenta</h1>
        <div class="preguntas-container">
            <h4>¿El paciente experimenta dolor?</h4>
            <button tabindex="0" (click)="responderPregunta1('Experimenta dolor', true)" class="si-button">Sí</button>
            <button tabindex="0" (click)="responderPregunta1('Experimenta dolor', false)" class="no-button">No</button>
            <h4>¿El paciente presenta signos de hemorragia?</h4>
            <button (click)="responderPregunta2('Signo de hemorragia', true)" class="si-button">Sí</button>
            <button (click)="responderPregunta2('Signo de hemorragia', false)" class="no-button">No</button>
            <h4>¿El paciente presenta cambios de consciencia?</h4>
            <button (click)="responderPregunta3('Cambios en la conciencia', true)" class="si-button">Sí</button>
            <button (click)="responderPregunta3('Cambios en la conciencia', false)" class="no-button">No</button>
            <h4>¿El paciente presenta comportamiento anormal?</h4>
            <button (click)="responderPregunta3('comportamiento anormal', true)" class="si-button">Sí</button>
            <button (click)="responderPregunta3('comportamiento anormall', false)" class="no-button">No</button>
            <h4>¿El paciente ha sufrido una situación de catastrofe?</h4>
            <button (click)="responderPregunta3('situacion catastrofe', true)" class="si-button">Sí</button>
            <button (click)="responderPregunta3('situacion catastrofe', false)" class="no-button">No</button>
            <h4>¿Cuánto tiempo ha experimentado los síntomas?</h4>
            <button (click)="cambiarTiempoSintomas(6)" class="tiempo-button">Menos de 6 horas</button>
            <button (click)="cambiarTiempoSintomas(12)" class="tiempo-button">Entre 6 y 12 horas</button>
            <button (click)="cambiarTiempoSintomas(13)" class="tiempo-button">Más de 12 horas</button>
        </div>
        <button (click)="categorizacionPaciente()" class="evaluar-button" data-toggle="modal" data-target="#exampleModal">Evaluar Prioridad</button>
    </div>
</div>
<!-- Footer -->
<footer class="bg-primary text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <h1>Artículo de Revista Impresa: W. Soler3, M. Gómez Muñoz3, E. Bragulat2, A. Álvarez1 (2010). </h1>
        <h4>El triaje: herramienta fundamental en urgencias y emergencias
            <p>[Triage: a key tool in emergency care]. Anales del Sistema Sanitario de Navarra, 33(supl. 1)</p>
        </h4>


        
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Punto Salud ágil:
      <a class="text-white" href="https://scielo.isciii.es/scielo.php?script=sci_arttext&pid=S1137-66272010000200008#:~:text=El%20t%C3%A9rmino%20triage%20o%20triaje,la%20atenci%C3%B3n%20urgente%20de%20pacientes.">Scielo</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
