@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
.sidebar {
    width: 20%; 
    background-color: #3C84FB;
}
.cont-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%; 
    padding: 20%;
}

.cont-logo img {
    max-width: 100%; 
    height: auto; 
    border-radius: 100%;
    margin-top: 70%;
}
.main-content{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.cuestionario-container{
    margin-left: 10%;
    color: #000;
    margin: 30px;
}
#radio{
    display: flex;
    padding: 25px;
    flex-direction: column;
}
.text{
    color: #000;
}
.preguntas-container{
    background-color: #f3f2f2;
    border-radius: 10px;
    padding: 20px;
}
.si-button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.no-button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.tiempo-button {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.evaluar-button {
    background-color: #3C84FB;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

h4{
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
.sidebar {
    width: 20%; 
    background-color: #3C84FB;
}
.cont-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%; 
    padding: 20%;
}

.cont-logo img {
    max-width: 100%; 
    height: auto; 
    border-radius: 100%;
    margin-top: 70%;
}
.main-content{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.cuestionario-container{
    margin-left: 10%;
    color: #000;
    margin: 30px;
}
#radio{
    display: flex;
    padding: 25px;
    flex-direction: column;
}
.text{
    color: #000;
}
.preguntas-container{
    background-color: #f3f2f2;
    border-radius: 10px;
    padding: 20px;
}
.si-button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.no-button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.tiempo-button {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

.evaluar-button {
    background-color: #3C84FB;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

h4{
    margin-top: 10px;
}

.si-button:focus, .no-button:focus {
    filter: brightness(290%);
  }
  
  /* Estilos adicionales cuando se pasa el mouse */
  .si-button:hover, .no-button:hover {
    filter: brightness(210%);
  }
  

