@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
.sidebar {
    width: 20%; 
    height: 100vh;
    background-color: #3C84FB;
}
.cont-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%; 
    padding: 20%;
}

.cont-logo img {
    max-width: 100%; 
    height: auto; 
    border-radius: 100%;
    margin-top: 70%;
}
.main-content{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.text{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}