.main{
    display: flex;
    flex-direction: row;
    width: 300px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #3c79ff;

}

.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
}

.icon{
    border-radius: 300px;
    width: 300px;
}