<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión - PSA</title>
</head>
<body>
    <div class="contenedor">
        <!-- sidebar -->
        <div class="sidebar">
            <div class="cont-logo">
                <img src="assets/img/psaLogo.png" alt="">
            </div>
        </div>

        <!--DA_RF1 - PASO 1: DESPLIEGA VISTA LOGIN -->
        <div class="main-content">
            <h1 class="centered-content text">Resultados evaluación</h1>
            <h1 class="text"><strong>Rut usuario: {{mostrarRutUsuario()}}</strong></h1>
            <h1 class="text"><strong>Categoria paciente: {{mostrarCategoriaPaciente()}}</strong></h1>
            <h2 class="text">Temperatura paciente {{mostrarTemperatura()}}</h2>
            <ul>
                <h2 class="text">Lista de síntomas</h2>
                <h2 class="text">{{mostrarConsulta()}}</h2>
            </ul>
            <form>
                <h2 class="centered-content text">Introduce tu correo electrónico</h2>
                <input type="email" [(ngModel)]="emailUsuario"  name="emailUsuario" placeholder="ejemplo@email.cl" class="form-control">
                <button (click)="guardarMail()" class="button-enviar">Enviar mail</button>
                <h1 class="centered-content text">Los resultados serán evaluados y llegarán a su correo:</h1>
                <h1>{{ emailUsuario }}</h1>
              </form>

            <div class="button-content">
                <button>Reservar cita médica</button>
                <button (click)="finalizarConsulta()">Finalizar consulta</button>
            </div>
        </div>
    </div>
</body>
</html>
