<div class="main-content">
    <div class="sidebar">
      <div class="cont-logo">
        <img src="assets/img/psaLogo.png" alt="">
      </div>
    </div>

    <div class="temperatura-container">
        <h1 class="text">Presione el botón para comenzar el escaneo</h1>
        <button (click)="escanearTemperatura()">Comenzar</button>
        <h1 class="text">Su temperatura  es: {{temperaturaPaciente}}</h1>
        <button (click)="enviarTemperatura()">Continuar</button>

    </div>

    

</div>
<!-- Footer -->
