<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión - PSA</title>
</head>
<body>
  <div class="contenedor">
    <!-- sidebar -->
    <div class="sidebar">
      <div class="cont-logo">
        <img src="assets/img/psaLogo.png" alt="">
      </div>
    </div>

    <!-- main -->
    <div class="main-content">
      <div class="admin-access">
        <button (click)="goView()"class="btn btn-admin-access">
          <img src="../../assets/img/database.svg">
        </button>
      </div>
      <div class="arduino">
        <button type="button" class="enviar-btn" (click)="encenderLed()">Encender</button> <!--2: Pulsa ok-->
        <button type="button" class="enviar-btn" (click)="apagarLed()">Apagar</button> <!--2: Pulsa ok-->
      </div>
      <div class="centered-content">
        <p>Ingrese su rut para iniciar</p> <!--1: Llena campos-->
        <input type="text" placeholder="Ej: 11.222.333-4" class="rut-input" [(ngModel)]="rutABuscar">
        <button type="button" class="enviar-btn" (click)="buscarPaciente()">Enviar</button> <!--2: Pulsa ok-->
        <div class="spinner-container" *ngIf="isLoading">
          <mat-spinner diameter="50" color="accent"></mat-spinner>
        </div>
        <p *ngIf="mostrarMensaje">{{ mensaje }}</p>
      </div>
    </div>
  </div>
</body>
</html>
