@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.contenedor{
    display: flex;
}
.sidebar {
    width: 20%; 
    background-color: #3C84FB;
    height: 100vh; 
}
.cont-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%; 
    padding: 20%;
}

.cont-logo img {
    max-width: 100%; 
    height: auto; 
    border-radius: 100%;
    margin-top: 70%;
}


.main-content{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 40px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.admin-access{
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    width: 100%;
    background-color: #3C84FB;

}
.btn-admin-access{
    background-color: #295bae;
    width: 100px;
    border-radius: 0

}
.centered-content{
    margin-top: 10%;
    width: 750px;
}

.rut-input {
    background-color: #C0C1C8;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;

}

.enviar-btn {
    background-color: #3C84FB;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}

.spinner-container {
    position: fixed;
    top: 50%; /* Puedes ajustar la posición vertical según tu diseño */
    left: 50%; /* Puedes ajustar la posición horizontal según tu diseño */
    transform: translate(-50%, -50%);
    z-index: 9999;
  }